:root {
    --mainBgColor: #282828;
    --secondBgColor:#1D1D1D;
    --textColor: #b2b2b2;
    --mainFontFamily: 'Montserrat';
    --iconColor:rgba(1, 110, 59, 0.74);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--textColor);
    background: var(--secondBgColor);
}
.hero-head .navbar{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 400;
}
.hero.is-fullheight {
    background: url('http://tn.joomexp.com/wordpress/wp-volter/wp-content/uploads/2016/04/cloud-bg.jpg?id=185');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 100;
}

.hero.is-primary strong span:nth-child(1) {
    /* color: rgba(1, 110, 59, 0.74); */
    color: var(--secondBgColor);
    font-size: 1.3rem;
    font-weight: 700;
}

.hero.is-primary strong span:nth-child(2) {
    color: var(--textColor);
    font-size: 1.3rem;
    font-weight: 300;
}

.hero.is-fullheight::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.3); */
}

.hero-head .navbar {
    background: var(--mainBgColor);
    line-height: 1.5;
    font-weight: 400;
    font-size: 0.8rem;
    font-family: var(--mainFontFamily);
    padding: 10px;
}

.hero.is-primary #navbar {
    background: none;
}
.hero.is-primary a.navbar-item{
    transition: all 0.5s;
}
.hero.is-primary a.navbar-item:hover {
    color: var(--mainBgColor);
    background: none;
}

.hero.is-primary .title {
    color: var(--textColor);
    font-size: 3.5rem;
    padding: 40px 30px;
    letter-spacing: 4.2px;
    font-weight: 400;
}

.hero.is-primary .subtitle {
    font-size: 2rem;
    font-weight: 300;
    line-height: 150%;
    padding: 40px 30px;
    margin-bottom: 20px;
    color: var(--textColor);
}

.button.is-primary.is-inverted.is-outlined {
    padding: 15px 24px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
    border-color:var(--iconColor);
    transition: all 0.5s ease-in-out;
    color: var(--iconColor);
}

.button.is-primary.is-inverted.is-outlined:hover {
    background: var(--iconColor);
    color: var(--textColor);
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 10px;
    }
    .hero.is-fullheight{
        background-attachment: scroll;
    }
    .hero.is-primary .title {
        font-size: 2rem;
    }
    .hero.is-primary .subtitle {
        font-size: 1.2rem;
    }
    /* .hero.is-primary .navbar-menu {
        background: rgba(0, 209, 178, 0.239);
    } */
    .hero.is-primary a.navbar-item:hover {
        background: var(--mainBgColor);
        color: var(--textColor);
    }
}


/* about section  */

#PORTFOLIO,
#CONTACT {
    background: var(--mainBgColor);
}


/* section titles  */

.section .title {
    font-weight: 500;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    line-height: 150%;
    color: var(--textColor);
}

.section>.title {
    margin: 20px auto 50px;
}
.card{
    background: inherit;
}
.column .is-one-quarter {
    background: var(--mainBgColor);
    padding: 10px;
}

.card .content {
    min-height: 4rem;
    font-size: 1rem;
    line-height: 150%;
}
.card footer .card-footer-item{
    color: var(--iconColor);
}
.card footer .card-footer-item .icon{
    transition: all 0.5s ease-in-out;
}
.card footer .card-footer-item:hover .icon{
    color: var(--secondBgColor);
}
.column>.service {
    text-align: center;
}
#ABOUT .column{
    padding: 0;
}
.service>.fa {
    color: rgba(1, 110, 59, 0.74);
    padding: 1.5rem 0;
    height: 6rem;
    width: 6rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(1, 110, 59, 0.74);
    padding: 2rem;
    border-radius: 50%;
}

.service>.title {
    font-size: 1.5rem;
    padding: 2rem auto;
    margin-bottom: 2rem;
}

.service>.subtitle {
    font-size: .9rem;
}

.button.is-link{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    transition: all 0.5s;
    background:var(--secondBgColor);
    border: 1px solid var(--iconColor);
    color:var(--iconColor);
    min-width: 100%;
}
.button.is-link:hover{
    background:var(--iconColor);
    color:var(--mainBgColor);
}
.footer{
    background: inherit;
    color: var(--textColor);
}